<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Mattermost.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>11</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>69CE45BE97430EE3055F5C60194B6E128232745F</string>
				<key>dateExpires</key>
				<string>12/07/23</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69CE45BE97430EE3055F5C60194B6E128232745F</string>
						<key>dateExpires</key>
						<string>12/07/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>WebRTC.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23RQKZ5XZJ</string>
						<key>name</key>
						<string>Wellsite Software LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>385</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69CE45BE97430EE3055F5C60194B6E128232745F</string>
						<key>dateExpires</key>
						<string>12/07/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>23RQKZ5XZJ.com.wellsite.meta.Share</string>
						<key>com.apple.developer.team-identifier</key>
						<string>23RQKZ5XZJ</string>
						<key>com.apple.security.application-groups</key>
						<array/>
						<key>get-task-allow</key>
						<true/>
					</dict>
					<key>name</key>
					<string>MattermostShare.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>c7855349-d554-4ffb-a32e-1e45304c05f3</string>
						<key>dateExpires</key>
						<string>14/07/23</string>
						<key>name</key>
						<string>iOS Team Provisioning Profile: com.wellsite.meta.Share</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23RQKZ5XZJ</string>
						<key>name</key>
						<string>Wellsite Software LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.49.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>385</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>69CE45BE97430EE3055F5C60194B6E128232745F</string>
						<key>dateExpires</key>
						<string>12/07/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>23RQKZ5XZJ.com.wellsite.meta.NotificationService</string>
						<key>com.apple.developer.team-identifier</key>
						<string>23RQKZ5XZJ</string>
						<key>com.apple.security.application-groups</key>
						<array/>
						<key>get-task-allow</key>
						<true/>
					</dict>
					<key>name</key>
					<string>NotificationService.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>14a1af61-f7c7-49a8-aa2e-ad8da29cef87</string>
						<key>dateExpires</key>
						<string>14/07/23</string>
						<key>name</key>
						<string>iOS Team Provisioning Profile: com.wellsite.meta.NotificationService</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>23RQKZ5XZJ</string>
						<key>name</key>
						<string>Wellsite Software LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.49.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>23RQKZ5XZJ.com.wellsite.meta</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Production</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array>
					<string>iCloud.com.wellsite.meta</string>
				</array>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudDocuments</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>23RQKZ5XZJ</string>
				<key>com.apple.developer.ubiquity-container-identifiers</key>
				<array>
					<string>iCloud.com.wellsite.meta</string>
				</array>
				<key>com.apple.developer.ubiquity-kvstore-identifier</key>
				<string>23RQKZ5XZJ.com.wellsite.meta</string>
				<key>com.apple.security.application-groups</key>
				<array/>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>23RQKZ5XZJ.com.wellsite.meta</string>
				</array>
			</dict>
			<key>name</key>
			<string>Mattermost.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e249d30a-81d8-4c79-83c0-84869e017a8c</string>
				<key>dateExpires</key>
				<string>14/07/23</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.wellsite.meta</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>23RQKZ5XZJ</string>
				<key>name</key>
				<string>Wellsite Software LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
